@font-face {
  font-family: "myFont";
  src: url("./fonts/JuliusSansOne-Regular.ttf");
}

body {
  margin: 0;
  background-color: rgb(59, 73, 15);
}

header {
  height: 80px;
  max-width: 100%;
  background-color: rgb(61, 64, 19);
}

.mainContainer {
  max-width: 100%;
}

.fotogramAndLogo {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-left: 30px;
  font-family: "myFont";
  font-size: 16px;
  color: rgb(228, 243, 177);
}

.logoImg {
  height: 40px;
  width: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: "myFont";
  color: rgb(228, 243, 177);
  font-size: 32px;
}
