@font-face {
  font-family: "logoFont";
  src: url("./fonts/JuliusSansOne-Regular.ttf");
}

@font-face {
  font-family: "pFont";
  src: url("./fonts/SourGummy-VariableFont_wdth\,wght.ttf");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(43, 12, 7);
}

header {
  height: 70px;
  max-width: 100%;
  background-color: rgb(34, 6, 2);
}

h2 {
  font-family: "pFont";
  color: rgb(228, 243, 177);
  font-size: clamp(1rem, 2rem, 4rem);
  font-weight: 200;
  margin-top: 70px;
}

footer {
  height: 70px;
  max-width: 100%;
  background-color: rgb(34, 6, 2);
}

p {
  font-family: "pFont";
  color: rgb(228, 243, 177);
  font-size: clamp(1rem, 2rem, 2.1rem);
  font-weight: 200;
  margin-left: 24px;
  margin-right: 24px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex: 1;
  align-items: center;
  text-align: center;
}

.fotogramAndLogo {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-left: clamp(1px, 10vw, 60px);
  font-family: "logoFont";
  font-size: 0.8rem;
  color: rgb(228, 243, 177);
}

.logoImg {
  height: 40px;
  width: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 48px clamp(10px, 90vw, 60px);
}

#imageContainer img {
  width: clamp(150px, 10vw, 300px);
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.55s;
}

#imageContainer img:hover {
  transform: scale(1.075);
}

.overlay.d_none {
  display: none;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85vh;
  max-height: auto;
  width: clamp(200px, 100%, 400px);
  background-color: rgba(49, 15, 0, 0.9);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#overlayImage {
  width: clamp(200px, 80%, 400px);
  border-radius: 8px;
  margin: 0, 40px, 10px, 40px;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.nextButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: auto;
  cursor: pointer;
}

.prevButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 30px;
  width: auto;
  cursor: pointer;
}

.textContainer {
  font-size: 16px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

.footerText {
  font-family: "pFont";
  color: rgb(228, 243, 177);
  font-size: clamp(1rem, 1.2rem, 1.4rem);
  font-weight: 100;
  margin-left: 24px;
  margin-right: 24px;
}
