@font-face {
  font-family: "logoFont";
  src: url("./fonts/JuliusSansOne-Regular.ttf");
}

@font-face {
  font-family: "pFont";
  src: url("./fonts/SourGummy-VariableFont_wdth\,wght.ttf");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(79, 55, 19);
}

header {
  height: 70px;
  max-width: 100%;
  background-color: rgb(90, 57, 22);
  /*box-shadow: 3px 0 10px 2px rgb(89, 75, 33);*/
}

p {
  font-family: "pFont";
  color: rgb(228, 243, 177);
  font-size: 2rem;
  font-weight: 200;
}

footer {
  height: 50px;
  max-width: 100%;
  background-color: rgb(90, 57, 22);
  /*box-shadow: 3px 0 10px 2px rgb(89, 75, 33s);*/
}

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex: 1;
}

.fotogramAndLogo {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-left: 30px;
  font-family: "logoFont";
  font-size: 0.8rem;
  color: rgb(228, 243, 177);
}

.logoImg {
  height: 40px;
  width: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 48px 48px 48px 48px;
}

#imageContainer img {
  width: clamp(50px, 100px, 150px);
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.4s;
}

#imageContainer img:hover {
  transform: scale(1.075);
}

.overlay.d_none {
  display: none;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayBackground {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlayContent {
  position: relative;
  z-index: 2;
  height: 70vh;
  width: 30vw;
  background: rgba(64, 45, 18, 0.96);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 32px rgba(0, 0, 0, 0.5);
}

.closeOverlay {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  z-index: 5;
}
